In [1]:
# Import dependencies
from sqlalchemy import inspect, create_engine
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import config as creds
import pandas as pd

In [2]:
# Create engine
engine = create_engine(f'postgresql://{creds.PGUSER}:{creds.PGPASSWORD}@{creds.PGHOST}:5432/{creds.PGDATABASE}')

In [3]:
# Create our session (link) from Python to the DB
session = Session(bind=engine.connect())

In [4]:
# List tables in database
inspect(engine).get_table_names()

['min_wage',
 'unemp_rate',
 'min_wage_effective',
 'economic_features',
 'economic_features_full']

In [5]:
# List columns in a specific table ('min_wage')
[column['name'] for column in inspect(engine).get_columns('min_wage')]

['Year',
 'State',
 'State_Minimum_Wage',
 'State_Minimum_Wage_2020_Dollars',
 'Federal_Minimum_Wage',
 'Federal_Minimum_Wage_2020_Dollars',
 'Effective_Minimum_Wage',
 'Effective_Minimum_Wage_2020_Dollars',
 'CPI_Average',
 'Department_Of_Labor_Uncleaned_Data',
 'Department_Of_Labor_Cleaned_Low_Value',
 'Department_Of_Labor_Cleaned_Low_Value_2020_Dollars',
 'Department_Of_Labor_Cleaned_High_Value',
 'Department_Of_Labor_Cleaned_High_Value_2020_Dollars',
 'Footnote']

In [6]:
# Defining function that takes in a table name and outputs a dataframe
def db_reader(tablename):
    table_df = pd.read_sql_table(f'{tablename}', engine)
    return table_df

In [7]:
# Reading a database table into a dataframe
econ_features_full = db_reader('economic_features_full')
econ_features_full.head()

,year,state,population_million,education_million,welfare_million,crime_rate,unemployment_rate,divorce_rate_per_1000_people,homeownership_rate,minimum_wage_effective,cpi_average,avg_wage_index,poverty_rate
0,1970,National,203.302,56456.0,18738.8,NaN,NaN,3.50,NaN,NaN,NaN,6186.24,17.18
1,1971,National,205.515,63469.0,27364.3,NaN,NaN,3.75,NaN,NaN,NaN,6497.08,17.05
2,1972,National,207.752,71351.0,30594.3,NaN,NaN,4.00,NaN,NaN,NaN,7133.80,16.12
3,1973,National,210.013,75849.0,28944.9,NaN,NaN,4.25,NaN,NaN,NaN,7580.16,15.13
4,1974,National,212.299,81440.0,34816.4,NaN,NaN,4.50,NaN,NaN,NaN,8030.76,15.86