# Initial Preprocessing of input data

Some of the dataset was available as individual .csv files.  1 per state.  Here we concatenate those files and save 1 file that can be loaded into GitHub

In [27]:
# Import dependencies
import pandas as pd
import numpy as np

## Load a file and see how it looks

In [28]:
# Test loading and processing 1 file
path = "Homeownership/"
filename = "Alabama_homeownership_rate_1984-2020.csv"
path_filename = path + filename

state_df = pd.read_csv(path_filename, delimiter=",")
state_df

          DATE  ALHOWN
0   1984-01-01    73.7
1   1985-01-01    70.4
2   1986-01-01    70.3
3   1987-01-01    67.9
4   1988-01-01    66.5
5   1989-01-01    67.6
6   1990-01-01    68.4
7   1991-01-01    69.9
8   1992-01-01    70.3
9   1993-01-01    70.2
10  1994-01-01    68.5
11  1995-01-01    70.1
12  1996-01-01    71.0
13  1997-01-01    71.3
14  1998-01-01    72.9
15  1999-01-01    74.8
16  2000-01-01    73.2
17  2001-01-01    73.2
18  2002-01-01    73.7
19  2003-01-01    76.2
20  2004-01-01    78.0
21  2005-01-01    76.6
22  2006-01-01    74.2
23  2007-01-01    73.3
24  2008-01-01    73.0
25  2009-01-01    74.1
26  2010-01-01    73.2
27  2011-01-01    72.9
28  2012-01-01    71.9
29  2013-01-01    72.7
30  2014-01-01    72.1
31  2015-01-01    70.0
32  2016-01-01    69.7
33  2017-01-01    70.0
34  2018-01-01    70.3
35  2019-01-01    70.7
36  2020-01-01    74.8

In [29]:
state_df.dtypes
# use this to filter the columns to load below

DATE       object
ALHOWN    float64
dtype: object

## Now get 1 file loaded and in the shape needed

In [30]:
path_filename = path + filename
# read csv into df
state_df = pd.read_csv(path_filename)
state_df.columns=["DATE", "homeownership_rate"]
# split filename to get the name of the state and add to the column state
state_name = filename.split('_')[0]
state_df ['state'] = state_name
print(path_filename)
    # renaming the column name to unemployment_rate
    #unemp_df .rename(index = {1: 'unemployment_rate'})
print(state_df.head(5))
    # formatting the year column to only display year
state_df ['year']= pd.to_datetime(state_df['DATE'], errors='coerce').dt.year
state_df .drop(columns = ['DATE'], inplace = True)

state_df 

# Test loading and processing 1 file

#columns_to_load = ['Year','Population-AL million', 'Education - Total $ million nominal','Welfare - Total $ million nominal']

# #state_df = pd.read_csv(path_filename)
# state_df.columns = ['year','homeowership_rate']

# # Add state name
# state_name = filename.split("_")[0]   # Assume filename is "statename.csv"
# state_df['state'] = state_name
# state_df ['year']= pd.to_datetime(unemp_df['DATE'], errors='coerce').dt.year
# state_df .drop(columns = ['DATE'], inplace = True)

# # Reorder columns
# state_df = state_df[['year','state','homeownership']]
# state_df

Homeownership/Alabama_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate    state
0  1984-01-01                73.7  Alabama
1  1985-01-01                70.4  Alabama
2  1986-01-01                70.3  Alabama
3  1987-01-01                67.9  Alabama
4  1988-01-01                66.5  Alabama

    homeownership_rate    state  year
0                 73.7  Alabama  1984
1                 70.4  Alabama  1985
2                 70.3  Alabama  1986
3                 67.9  Alabama  1987
4                 66.5  Alabama  1988
5                 67.6  Alabama  1989
6                 68.4  Alabama  1990
7                 69.9  Alabama  1991
8                 70.3  Alabama  1992
9                 70.2  Alabama  1993
10                68.5  Alabama  1994
11                70.1  Alabama  1995
12                71.0  Alabama  1996
13                71.3  Alabama  1997
14                72.9  Alabama  1998
15                74.8  Alabama  1999
16                73.2  Alabama  2000
17                73.2  Alabama  2001
18                73.7  Alabama  2002
19                76.2  Alabama  2003
20                78.0  Alabama  2004
21                76.6  Alabama  2005
22                74.2  Alabama  2006
23                73.3  Alabama  2007
24                73.0  Alabama  2008
25                74.1  Alabama  2009
26                73.2  Alabama  2010
27                72.9  Alabama  2011
28                71.9  Alabama  2012
29                72.7  Alabama  2013
30                72.1  Alabama  2014
31                70.0  Alabama  2015
32                69.7  Alabama  2016
33                70.0  Alabama  2017
34                70.3  Alabama  2018
35                70.7  Alabama  2019
36                74.8  Alabama  2020

## If happy make the above code into a function

In [31]:
# Take a path and filename, format to desired and return a DataFrame
def process_state(path, filename, empty_before_header=0):
    path_filename = path + filename
    # read csv into df
    state_df = pd.read_csv(path_filename)
    state_df.columns=["DATE", "homeownership_rate"]
    # split filename to get the name of the state and add to the column state
    state_name = filename.split('_')[0]
    state_df ['state'] = state_name
    print(path_filename)
        # renaming the column name to unemployment_rate
        #unemp_df .rename(index = {1: 'unemployment_rate'})
    print(state_df.head(5))
        # formatting the year column to only display year
    state_df ['year']= pd.to_datetime(state_df['DATE'], errors='coerce').dt.year
    state_df .drop(columns = ['DATE'], inplace = True)

    return state_df

## Iterate through all files in a directory and concatenate

In [32]:
import os
import sys

homeownership_df = process_state("","National_Unemployment_rate_1976_2020.csv")

path = "Homeownership/"
empty_rows_above_header = 1

for filename in os.listdir(path):
    if filename[0] != ".":
        
        state_df = process_state(path, filename)
        homeownership_df = pd.concat([homeownership_df, state_df], axis = 0, ignore_index = True)
    
    
homeownership_df.head(60)

National_Unemployment_rate_1976_2020.csv
         DATE  homeownership_rate     state
0  1976-01-01            7.786562  National
1  1977-01-01            7.132505  National
2  1978-01-01            6.134198  National
3  1979-01-01            5.923827  National
4  1980-01-01            7.255717  National
Homeownership/Missouri_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate     state
0  1984-01-01                69.5  Missouri
1  1985-01-01                69.2  Missouri
2  1986-01-01                67.8  Missouri
3  1987-01-01                66.1  Missouri
4  1988-01-01                64.8  Missouri
Homeownership/Vermont_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate    state
0  1984-01-01                66.9  Vermont
1  1985-01-01                69.5  Vermont
2  1986-01-01                69.8  Vermont
3  1987-01-01                70.5  Vermont
4  1988-01-01                68.7  Vermont
Homeownership/Connecticut_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate        state
0  1984-01-01                67.8  Connecticut
1  1985-01-01                69.0  Connecticut
2  1986-01-01                68.1  Connecticut
3  1987-01-01                67.0  Connecticut
4  1988-01-01                66.5  Connecticut
Homeownership/Washington_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate       state
0  1984-01-01                65.7  Washington
1  1985-01-01                66.8  Washington
2  1986-01-01                65.1  Washington
3  1987-01-01                64.4  Washington
4  1988-01-01                64.2  Washington
Homeownership/California_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate       state
0  1984-01-01                53.7  California
1  1985-01-01                54.2  California
2  1986-01-01                53.8  California
3  1987-01-01                54.3  California
4  1988-01-01                54.4  California
Homeownership/Minnesota_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate      state
0  1984-01-01                72.6  Minnesota
1  1985-01-01                70.0  Minnesota
2  1986-01-01                68.0  Minnesota
3  1987-01-01                68.9  Minnesota
4  1988-01-01                69.1  Minnesota
Homeownership/North Dakota_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate         state
0  1984-01-01                70.1  North Dakota
1  1985-01-01                69.9  North Dakota
2  1986-01-01                69.2  North Dakota
3  1987-01-01                68.9  North Dakota
4  1988-01-01                67.7  North Dakota
Homeownership/Michigan_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate     state
0  1984-01-01                72.7  Michigan
1  1985-01-01                70.7  Michigan
2  1986-01-01                70.9  Michigan
3  1987-01-01                71.7  Michigan
4  1988-01-01                72.5  Michigan
Homeownership/Texas_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate  state
0  1984-01-01                62.5  Texas
1  1985-01-01                60.5  Texas
2  1986-01-01                61.0  Texas
3  1987-01-01                61.1  Texas
4  1988-01-01                59.9  Texas
Homeownership/Delaware_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate     state
0  1984-01-01                70.4  Delaware
1  1985-01-01                70.3  Delaware
2  1986-01-01                71.0  Delaware
3  1987-01-01                71.1  Delaware
4  1988-01-01                70.1  Delaware
Homeownership/Ohio_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate state
0  1984-01-01                67.7  Ohio
1  1985-01-01                67.9  Ohio
2  1986-01-01                68.2  Ohio
3  1987-01-01                68.6  Ohio
4  1988-01-01                69.6  Ohio
Homeownership/Pennsylvania_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate         state
0  1984-01-01                71.1  Pennsylvania
1  1985-01-01                71.6  Pennsylvania
2  1986-01-01                72.3  Pennsylvania
3  1987-01-01                71.8  Pennsylvania
4  1988-01-01                72.1  Pennsylvania
Homeownership/Alabama_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate    state
0  1984-01-01                73.7  Alabama
1  1985-01-01                70.4  Alabama
2  1986-01-01                70.3  Alabama
3  1987-01-01                67.9  Alabama
4  1988-01-01                66.5  Alabama
Homeownership/Virginia_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate     state
0  1984-01-01                68.3  Virginia
1  1985-01-01                68.5  Virginia
2  1986-01-01                68.2  Virginia
3  1987-01-01                69.0  Virginia
4  1988-01-01                69.8  Virginia
Homeownership/Louisiana_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate      state
0  1984-01-01                70.1  Louisiana
1  1985-01-01                70.2  Louisiana
2  1986-01-01                70.4  Louisiana
3  1987-01-01                71.0  Louisiana
4  1988-01-01                68.5  Louisiana
Homeownership/Tennessee_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate      state
0  1984-01-01                67.6  Tennessee
1  1985-01-01                67.6  Tennessee
2  1986-01-01                67.4  Tennessee
3  1987-01-01                67.2  Tennessee
4  1988-01-01                66.9  Tennessee
Homeownership/Montana_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate    state
0  1984-01-01                66.4  Montana
1  1985-01-01                66.5  Montana
2  1986-01-01                64.4  Montana
3  1987-01-01                65.0  Montana
4  1988-01-01                65.4  Montana
Homeownership/Arizona_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate    state
0  1984-01-01                65.2  Arizona
1  1985-01-01                64.7  Arizona
2  1986-01-01                62.5  Arizona
3  1987-01-01                63.3  Arizona
4  1988-01-01                66.1  Arizona
Homeownership/Utah_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate state
0  1984-01-01                69.9  Utah
1  1985-01-01                71.5  Utah
2  1986-01-01                68.0  Utah
3  1987-01-01                69.0  Utah
4  1988-01-01                70.2  Utah
Homeownership/New Jersey_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate       state
0  1984-01-01                63.4  New Jersey
1  1985-01-01                62.3  New Jersey
2  1986-01-01                63.3  New Jersey
3  1987-01-01                64.0  New Jersey
4  1988-01-01                64.8  New Jersey
Homeownership/New Hampshire_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate          state
0  1984-01-01                67.1  New Hampshire
1  1985-01-01                65.5  New Hampshire
2  1986-01-01                64.8  New Hampshire
3  1987-01-01                66.4  New Hampshire
4  1988-01-01                67.9  New Hampshire
Homeownership/Alaska_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate   state
0  1984-01-01                57.6  Alaska
1  1985-01-01                61.2  Alaska
2  1986-01-01                61.5  Alaska
3  1987-01-01                59.7  Alaska
4  1988-01-01                57.0  Alaska
Homeownership/Georgia_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate    state
0  1984-01-01                63.6  Georgia
1  1985-01-01                62.7  Georgia
2  1986-01-01                62.4  Georgia
3  1987-01-01                63.9  Georgia
4  1988-01-01                64.8  Georgia
Homeownership/Kentucky_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate     state
0  1984-01-01                70.2  Kentucky
1  1985-01-01                68.5  Kentucky
2  1986-01-01                68.1  Kentucky
3  1987-01-01                67.6  Kentucky
4  1988-01-01                65.4  Kentucky
Homeownership/Wyoming_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate    state
0  1984-01-01                68.8  Wyoming
1  1985-01-01                73.2  Wyoming
2  1986-01-01                72.0  Wyoming
3  1987-01-01                68.9  Wyoming
4  1988-01-01                67.8  Wyoming
Homeownership/Nebraska_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate     state
0  1984-01-01                69.3  Nebraska
1  1985-01-01                68.5  Nebraska
2  1986-01-01                68.3  Nebraska
3  1987-01-01                66.8  Nebraska
4  1988-01-01                66.6  Nebraska
Homeownership/South Dakota_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate         state
0  1984-01-01                69.6  South Dakota
1  1985-01-01                67.6  South Dakota
2  1986-01-01                65.9  South Dakota
3  1987-01-01                66.8  South Dakota
4  1988-01-01                66.4  South Dakota
Homeownership/Maryland_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate     state
0  1984-01-01                67.8  Maryland
1  1985-01-01                65.6  Maryland
2  1986-01-01                62.8  Maryland
3  1987-01-01                62.7  Maryland
4  1988-01-01                63.5  Maryland
Homeownership/New Mexico_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate       state
0  1984-01-01                68.0  New Mexico
1  1985-01-01                68.2  New Mexico
2  1986-01-01                67.8  New Mexico
3  1987-01-01                67.2  New Mexico
4  1988-01-01                65.4  New Mexico
Homeownership/Nevada_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate   state
0  1984-01-01                58.9  Nevada
1  1985-01-01                57.0  Nevada
2  1986-01-01                54.5  Nevada
3  1987-01-01                54.1  Nevada
4  1988-01-01                54.3  Nevada
Homeownership/Oklahoma_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate     state
0  1984-01-01                71.0  Oklahoma
1  1985-01-01                70.5  Oklahoma
2  1986-01-01                69.7  Oklahoma
3  1987-01-01                70.9  Oklahoma
4  1988-01-01                72.1  Oklahoma
Homeownership/Massachusetts_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate          state
0  1984-01-01                61.7  Massachusetts
1  1985-01-01                60.5  Massachusetts
2  1986-01-01                60.3  Massachusetts
3  1987-01-01                60.6  Massachusetts
4  1988-01-01                60.0  Massachusetts
Homeownership/Oregon_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate   state
0  1984-01-01                61.9  Oregon
1  1985-01-01                61.5  Oregon
2  1986-01-01                63.9  Oregon
3  1987-01-01                64.6  Oregon
4  1988-01-01                64.0  Oregon
Homeownership/West Virginia_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate          state
0  1984-01-01                72.0  West Virginia
1  1985-01-01                75.9  West Virginia
2  1986-01-01                76.4  West Virginia
3  1987-01-01                72.5  West Virginia
4  1988-01-01                73.2  West Virginia
Homeownership/Rhode Island_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate         state
0  1984-01-01                60.9  Rhode Island
1  1985-01-01                61.4  Rhode Island
2  1986-01-01                62.2  Rhode Island
3  1987-01-01                60.4  Rhode Island
4  1988-01-01                62.0  Rhode Island

Homeownership/Illinois_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate     state
0  1984-01-01                62.4  Illinois
1  1985-01-01                60.6  Illinois
2  1986-01-01                60.9  Illinois
3  1987-01-01                61.0  Illinois
4  1988-01-01                61.4  Illinois
Homeownership/Iowa_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate state
0  1984-01-01                71.3  Iowa
1  1985-01-01                69.9  Iowa
2  1986-01-01                69.2  Iowa
3  1987-01-01                67.7  Iowa
4  1988-01-01                68.3  Iowa
Homeownership/Kansas_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate   state
0  1984-01-01                72.7  Kansas
1  1985-01-01                68.3  Kansas
2  1986-01-01                66.4  Kansas
3  1987-01-01                67.9  Kansas
4  1988-01-01                68.6  Kansas
Homeownership/South Carolina_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate           state
0  1984-01-01                69.1  South Carolina
1  1985-01-01                72.0  South Carolina
2  1986-01-01                70.3  South Carolina
3  1987-01-01                72.8  South Carolina
4  1988-01-01                73.8  South Carolina
Homeownership/Maine_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate  state
0  1984-01-01                74.1  Maine
1  1985-01-01                73.7  Maine
2  1986-01-01                74.0  Maine
3  1987-01-01                73.2  Maine
4  1988-01-01                72.2  Maine
Homeownership/Wisconsin_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate      state
0  1984-01-01                65.2  Wisconsin
1  1985-01-01                63.8  Wisconsin
2  1986-01-01                66.5  Wisconsin
3  1987-01-01                68.2  Wisconsin
4  1988-01-01                68.0  Wisconsin
Homeownership/Colorado_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate     state
0  1984-01-01                64.7  Colorado
1  1985-01-01                63.6  Colorado
2  1986-01-01                63.7  Colorado
3  1987-01-01                61.8  Colorado
4  1988-01-01                60.1  Colorado
Homeownership/New York_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate     state
0  1984-01-01                51.1  New York
1  1985-01-01                50.3  New York
2  1986-01-01                51.3  New York
3  1987-01-01                52.0  New York
4  1988-01-01                50.7  New York
Homeownership/Idaho_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate  state
0  1984-01-01                69.7  Idaho
1  1985-01-01                71.0  Idaho
2  1986-01-01                69.8  Idaho
3  1987-01-01                71.6  Idaho
4  1988-01-01                71.5  Idaho
Homeownership/Hawaii_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate   state
0  1984-01-01                50.7  Hawaii
1  1985-01-01                51.0  Hawaii
2  1986-01-01                50.9  Hawaii
3  1987-01-01                50.7  Hawaii
4  1988-01-01                53.2  Hawaii
Homeownership/Arkansas_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate     state
0  1984-01-01                65.9  Arkansas
1  1985-01-01                66.6  Arkansas
2  1986-01-01                67.5  Arkansas
3  1987-01-01                68.1  Arkansas
4  1988-01-01                67.0  Arkansas
Homeownership/Florida_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate    state
0  1984-01-01                66.5  Florida
1  1985-01-01                67.2  Florida
2  1986-01-01                66.5  Florida
3  1987-01-01                66.3  Florida
4  1988-01-01                64.9  Florida
Homeownership/Mississippi_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate        state
0  1984-01-01                72.3  Mississippi
1  1985-01-01                69.6  Mississippi
2  1986-01-01                70.4  Mississippi
3  1987-01-01                72.5  Mississippi
4  1988-01-01                73.7  Mississippi
Homeownership/Indiana_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate    state
0  1984-01-01                69.9  Indiana
1  1985-01-01                67.6  Indiana
2  1986-01-01                67.6  Indiana
3  1987-01-01                69.1  Indiana
4  1988-01-01                68.3  Indiana
Homeownership/District of Columbia_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate                 state
0  1984-01-01                37.3  District of Columbia
1  1985-01-01                37.4  District of Columbia
2  1986-01-01                34.6  District of Columbia
3  1987-01-01                35.8  District of Columbia
4  1988-01-01                37.5  District of Columbia
Homeownership/North Carolina_homeownership_rate_1984-2020.csv
         DATE  homeownership_rate           state
0  1984-01-01                68.8  North Carolina
1  1985-01-01                68.0  North Carolina
2  1986-01-01                68.2  North Carolina
3  1987-01-01                68.4  North Carolina
4  1988-01-01                68.3  North Carolina

    homeownership_rate     state  year
0             7.786562  National  1976
1             7.132505  National  1977
2             6.134198  National  1978
3             5.923827  National  1979
4             7.255717  National  1980
5             7.741281  National  1981
6             9.860857  National  1982
7             9.780473  National  1983
8             7.637412  National  1984
9             7.304109  National  1985
10            7.096872  National  1986
11            6.297189  National  1987
12            5.589161  National  1988
13            5.340558  National  1989
14            5.672628  National  1990
15            6.927372  National  1991
16            7.607437  National  1992
17            7.025515  National  1993
18            6.168805  National  1994
19            5.643885  National  1995
20            5.457434  National  1996
21            4.996276  National  1997
22            4.550108  National  1998
23            4.253037  National  1999
24            4.020985  National  2000
25            4.786689  National  2001
26            5.851715  National  2002
27            6.061592  National  2003
28            5.597952  National  2004
29            5.143966  National  2005
30            4.688935  National  2006
31            4.675080  National  2007
32            5.847526  National  2008
33            9.377906  National  2009
34            9.768028  National  2010
35            9.066351  National  2011
36            8.165597  National  2012
37            7.485224  National  2013
38            6.255356  National  2014
39            5.366365  National  2015
40            4.933476  National  2016
41            4.404787  National  2017
42            3.937875  National  2018
43            3.718367  National  2019
44            8.129782  National  2020
45           69.500000  Missouri  1984
46           69.200000  Missouri  1985
47           67.800000  Missouri  1986
48           66.100000  Missouri  1987
49           64.800000  Missouri  1988
50           63.700000  Missouri  1989
51           64.000000  Missouri  1990
52           64.200000  Missouri  1991
53           65.200000  Missouri  1992
54           66.400000  Missouri  1993
55           68.400000  Missouri  1994
56           69.400000  Missouri  1995
57           70.200000  Missouri  1996
58           70.500000  Missouri  1997
59           70.700000  Missouri  1998

## Check some statistics and details

In [33]:
print('---  STATISTICS  ---')
print(homeownership_df.describe())
print('---  TOTAL NAs  ---')
print(homeownership_df.isna().sum())
print('---  DTYPES  ---')
print(homeownership_df.dtypes)
print('---  LIST OF STATES  ---')
print(homeownership_df['state'].value_counts().count())
print(homeownership_df['state'].value_counts())

---  STATISTICS  ---
       homeownership_rate         year
count         1932.000000  1932.000000
mean            65.881950  2001.906832
std             11.221651    10.756262
min              3.718367  1976.000000
25%             64.600000  1993.000000
50%             68.400000  2002.000000
75%             71.200000  2011.000000
max             81.300000  2020.000000
---  TOTAL NAs  ---
homeownership_rate    0
state                 0
year                  0
dtype: int64
---  DTYPES  ---
homeownership_rate    float64
state                  object
year                    int64
dtype: object
---  LIST OF STATES  ---
52
National                45
Washington              37
Montana                 37
Nebraska                37
Indiana                 37
South Carolina          37
Colorado                37
Alaska                  37
Florida                 37
Massachusetts           37
Utah                    37
Idaho                   37
Wyoming                 37
Iowa                    37
Georgia                 37
Minnesota               37
Pennsylvania            37
Connecticut             37
North Carolina          37
Kentucky                37
Oregon                  37
New Mexico              37
North Dakota            37
Arizona                 37
Tennessee               37
Illinois                37
District of Columbia    37
Louisiana               37
Alabama                 37
Michigan                37
New Hampshire           37
New York                37
Hawaii                  37
Maine                   37
West Virginia           37
Vermont                 37
Oklahoma                37
Missouri                37
Arkansas                37
Mississippi             37
New Jersey              37
South Dakota            37
Kansas                  37
Rhode Island            37
Texas                   37
Delaware                37
Virginia                37
California              37
Ohio                    37
Nevada                  37
Wisconsin               37
Maryland                37
Name: state, dtype: int64

In [34]:
#formate decimals 
homeownership_df['homeownership_rate'] = homeownership_df['homeownership_rate'].map('{:,.2f}'.format)
homeownership_df

     homeownership_rate           state  year
0                  7.79        National  1976
1                  7.13        National  1977
2                  6.13        National  1978
3                  5.92        National  1979
4                  7.26        National  1980
...                 ...             ...   ...
1927              65.70  North Carolina  2016
1928              66.30  North Carolina  2017
1929              65.20  North Carolina  2018
1930              65.10  North Carolina  2019
1931              68.70  North Carolina  2020

[1932 rows x 3 columns]

## Store into a csv,  drop the index when saving

In [35]:
homeownership_df.to_csv('homeownership_rate.csv', index = False, index_label=False)