In [92]:
# Import dependencies
import pandas as pd
import numpy as np

In [93]:
# Test loading and processing 1 file
path = "Poverty/"
filename = "Alabama_poverty_rate_1967-2014.xlsx"
path_filename = path + filename

df = pd.read_excel(path_filename, header=0)
df

,year,National Pre-Tax/Pre-Transfer SPM,National Post-Tax/Post-Transfer SPM,Alabama Pre-Tax/Pre-Transfer SPM,Alabama Post-Tax/Post-Transfer SPM,Children Pre-Tax/Pre-Transfer SPM,Children Post-Tax/Post-Transfer SPM,Adults Pre-Tax/Pre-Transfer SPM,Adults Post-Tax/Post-Transfer SPM,Elderly Pre-Tax/Pre-Transfer SPM,Elderly Post-Tax/Post-Transfer SPM
0,2014,28.0,16.0,31.4,14.7,30.1,17.0,24.8,13.7,60.3,15.6
1,2013,28.3,16.0,31.5,14.3,31.1,17.0,25.1,13.4,59.4,13.3
2,2012,28.4,15.7,30.9,13.9,30.2,16.1,25.0,13.3,58.0,12.6
3,2011,28.4,15.5,30.8,14.0,30.4,16.5,24.9,13.6,57.7,11.9
4,2010,27.8,15.2,30.0,13.5,30.1,15.7,23.9,12.9,56.8,12.1
5,2009,26.7,14.9,29.0,13.6,28.7,15.8,22.9,12.7,56.9,13.4
6,2008,25.6,14.8,28.3,13.9,28.1,15.6,22.0,13.1,57.3,14.3
7,2007,24.7,14.6,27.7,14.1,27.5,16.6,21.0,13.0,58.8,14.8
8,2006,23.8,14.6,26.9,13.9,26.8,16.7,20.1,12.5,59.7,14.9
9,2005,23.6,14.6,26.9,14.7,26.7,17.8,20.5,13.4,59.9,15.2
10,2004,23.6,14.6,26.7,14.8,26.2,17.7,20.3,13.4,59.5,16.2
11,2003,23.4,14.6,26.9,14.8,26.9,18.1,20.4,13.1,59.7,16.4
12,2002,23.1,14.5,26.2,14.6,26.5,17.8,19.5,12.8,60.1,17.4
13,2001,22.9,14.5,25.9,14.6,26.8,18.4,18.9,12.3,58.1,18.1
14,2000,22.8,14.6,24.9,14.2,26.2,18.1,17.8,11.8,57.2,18.7
15,1999,23.1,15.0,24.7,14.4,27.0,18.6,17.3,11.8,57.0,19.0
16,1998,23.6,15.5,24.3,14.6,26.1,19.4,16.5,11.5,57.9,19.7
17,1997,24.4,16.1,25.6,15.9,26.9,20.5,18.1,12.9,57.2,20.5
18,1996,25.2,16.9,26.4,16.8,26.9,20.9,19.2,13.9,58.4,21.8
19,1995,26.0,17.9,28.2,18.0,28.3,22.5,20.8,14.9,60.9,23.1
20,1994,26.3,18.4,28.9,18.9,28.8,23.5,21.4,15.6,62.9,24.3
21,1993,26.4,18.8,29.7,20.3,29.5,24.6,22.8,17.0,63.4,26.6
22,1992,26.1,19.0,29.8,21.0,30.5,26.3,22.7,17.2,63.9,28.2
23,1991,25.5,18.8,30.3,21.8,31.5,27.1,23.1,18.0,64.8,29.5
24,1990,24.8,18.4,30.4,22.7,32.5,28.6,22.6,18.6,65.2,30.3
25,1989,24.3,18.3,31.6,23.9,35.1,30.9,23.5,19.3,65.0,31.2
26,1988,24.2,18.4,32.9,24.9,38.7,33.5,24.0,19.9,65.1,30.4
27,1987,24.5,18.8,33.5,25.6,39.7,34.8,24.3,20.5,65.7,29.5
28,1986,25.0,19.3,33.9,26.0,40.2,36.5,24.4,20.4,66.7,29.6
29,1985,25.8,19.9,34.7,26.3,40.6,36.6,25.5,20.8,67.2,29.6
30,1984,26.5,20.5,34.7,26.3,39.5,36.0,26.0,21.2,68.1,29.6
31,1983,26.7,20.6,34.5,26.4,38.4,35.3,26.1,21.3,69.0,31.6
32,1982,26.6,20.3,34.4,25.9,37.8,33.8,25.7,20.5,71.2,34.7
33,1981,26.1,19.7,34.8,26.2,38.1,33.3,25.8,20.7,72.5,37.0
34,1980,25.4,18.9,34.3,26.1,37.4,32.6,25.1,20.3,73.6,39.1
35,1979,24.9,18.3,34.1,26.1,37.6,32.9,24.6,19.6,74.9,41.5
36,1978,24.8,18.0,34.1,25.6,37.4,31.8,24.5,19.0,75.5,43.0
37,1977,25.0,18.0,33.9,25.7,37.7,32.3,24.7,19.1,74.3,43.0
38,1976,25.4,18.5,34.5,25.8,38.9,32.7,25.3,19.0,75.0,44.2

In [94]:
df.columns.tolist()

['year',
 'National Pre-Tax/Pre-Transfer SPM',
 'National Post-Tax/Post-Transfer SPM',
 'Alabama Pre-Tax/Pre-Transfer SPM',
 'Alabama Post-Tax/Post-Transfer SPM',
 'Children Pre-Tax/Pre-Transfer SPM',
 'Children Post-Tax/Post-Transfer SPM',
 'Adults Pre-Tax/Pre-Transfer SPM',
 'Adults Post-Tax/Post-Transfer SPM',
 'Elderly Pre-Tax/Pre-Transfer SPM',
 'Elderly Post-Tax/Post-Transfer SPM']

In [95]:
df.drop(df.columns.difference(['year',  'Alabama Post-Tax/Post-Transfer SPM']), 1, inplace=True)
df

    year  Alabama Post-Tax/Post-Transfer SPM
0   2014                                14.7
1   2013                                14.3
2   2012                                13.9
3   2011                                14.0
4   2010                                13.5
5   2009                                13.6
6   2008                                13.9
7   2007                                14.1
8   2006                                13.9
9   2005                                14.7
10  2004                                14.8
11  2003                                14.8
12  2002                                14.6
13  2001                                14.6
14  2000                                14.2
15  1999                                14.4
16  1998                                14.6
17  1997                                15.9
18  1996                                16.8
19  1995                                18.0
20  1994                                18.9
21  1993                                20.3
22  1992                                21.0
23  1991                                21.8
24  1990                                22.7
25  1989                                23.9
26  1988                                24.9
27  1987                                25.6
28  1986                                26.0
29  1985                                26.3
30  1984                                26.3
31  1983                                26.4
32  1982                                25.9
33  1981                                26.2
34  1980                                26.1
35  1979                                26.1
36  1978                                25.6
37  1977                                25.7
38  1976                                25.8

In [96]:
povert_df = df.rename(columns = {'Alabama Post-Tax/Post-Transfer SPM': 'poverty_rate'})
povert_df.head()

   year  poverty_rate
0  2014          14.7
1  2013          14.3
2  2012          13.9
3  2011          14.0
4  2010          13.5

In [ ]:
# Test loading and processing 1 file
path = "Resources/Education_Welfare_TotalByState/"
filename = "New York.csv"
path_filename = path + filename

#columns_to_load = ['Year','Population-AL million', 'Education - Total $ million nominal','Welfare - Total $ million nominal']
columns_to_load = [0,2,5,7]    # Use column positions if the heading changes from file to file

rows_to_skip_before_header = 1     # default should be 0 if there are no empty rows at the top of the header
rows_to_load = 57      #  use this if the length of data is known/fixed and there are rows at the bottom you need to exclude.

state_df = pd.read_csv(path_filename, delimiter=",", header=rows_to_skip_before_header,
                       usecols=columns_to_load, nrows=rows_to_load)
state_df.columns = ['year','population_million','education_million','welfare_million']

# Add state name
state_name = filename.split(".")[0]   # Assume filename is "statename.csv"
state_df['state'] = state_name

# Reorder columns
state_df = state_df[['year','state','population_million', 'education_million', 'welfare_million']]
state_df

In [103]:
def process_poverty(path, filename):
    # path to individual data file
    path_filename = path + filename
    print(path_filename)
    print(path_filename)
    # read csv into df
    state_name = filename.split('_')[0]
    print("state_name", state_name)
    newColumnNames = {}
    cn = f'{state_name} Post-Tax/Post-Transfer SPM'
    print("cn", cn)
    columns_to_load = [0, 4]
    poverty_df = pd.read_excel(path_filename, usecols= columns_to_load)
    poverty_df.columns=["year", "poverty_rate"]
    print(poverty_df.columns)
    
    #poverty_df.drop(df.columns.difference(['year',  f'{state_name} Post-Tax/Post-Transfer SPM']), 1, inplace=True)
    #split filename to get the name of the state and add to the column state
   
    #newColumnNames[cn] =  'poverty_rate';
    #poverty_df.rename(columns=newColumnNames,  inplace = True)
    poverty_df['state'] = state_name
    
    return poverty_df

In [104]:
import os
files_names = os.listdir("Poverty/")

In [105]:
clean_filenames = [x for x in files_names if '.xlsx'  in x and '._' not in x]

In [106]:
clean_filenames

['South Dakota_poverty_rate_1967-2014.xlsx',
 'Washington_poverty_rate_1967-2014.xlsx',
 'Indiana_poverty_rate_1967-2014.xlsx',
 'Vermont_poverty_rate_1967-2014.xlsx',
 'Nevada_poverty_rate_1967-2014.xlsx',
 'Alabama_poverty_rate_1967-2014.xlsx',
 'Iowa_poverty_rate_1967-2014.xlsx',
 'Tennessee_poverty_rate_1967-2014.xlsx',
 'Missouri_poverty_rate_1967-2014.xlsx',
 'Virginia_poverty_rate_1967-2014.xlsx',
 'Connecticut_poverty_rate_1967-2014.xlsx',
 'Utah_poverty_rate_1967-2014.xlsx',
 'Kentucky_poverty_rate_1967-2014.xlsx',
 'Mississippi_poverty_rate_1967-2014.xlsx',
 'New Jersey_poverty_rate_1967-2014.xlsx',
 'Wyoming_poverty_rate_1967-2014.xlsx',
 'Florida_poverty_rate_1967-2014.xlsx',
 'Arizona_poverty_rate_1967-2014.xlsx',
 'Delaware_poverty_rate_1967-2014.xlsx',
 'Arkansas_poverty_rate_1967-2014.xlsx',
 'North Dakota_poverty_rate_1967-2014.xlsx',
 'Alaska_poverty_rate_1967-2014.xlsx',
 'Michigan_poverty_rate_1967-2014.xlsx',
 'California_poverty_rate_1967-2014.xlsx',
 'Idaho_poverty_rate_1967-2014.xlsx',
 'Rhode Island_poverty_rate_1967-2014.xlsx',
 'Oregon_poverty_rate_1967-2014.xlsx',
 'South Carolina_poverty_rate_1967-2014.xlsx',
 'Nebraska_poverty_rate_1967-2014.xlsx',
 'West Virginia_poverty_rate_1967-2014.xlsx',
 'Colorado_poverty_rate_1967-2014.xlsx',
 'Wisconsin_poverty_rate_1967-2014.xlsx',
 'New York_poverty_rate_1967-2014.xlsx',
 'North Carolina_poverty_rate_1967-2014.xlsx',
 'Montana_poverty_rate_1967-2014.xlsx',
 'Ohio_poverty_rate_1967-2014.xlsx',
 'New Mexico_poverty_rate_1967-2014.xlsx',
 'Georgia_poverty_rate_1967-2014.xlsx',
 'Pennsylvania_poverty_rate_1967-2014.xlsx',
 'Maryland_poverty_rate_1967-2014.xlsx',
 'Kansas_poverty_rate_1967-2014.xlsx',
 'Louisiana_poverty_rate_1967-2014.xlsx',
 'Hawaii_poverty_rate_1967-2014.xlsx',
 'Maine_poverty_rate_1967-2014.xlsx',
 'Massachusetts_poverty_rate_1967-2014.xlsx',
 'Oklahoma_poverty_rate_1967-2014.xlsx',
 'Texas_poverty_rate_1967-2014.xlsx',
 'Illinois_poverty_rate_1967-2014.xlsx',
 'Minnesota_poverty_rate_1967-2014.xlsx',
 'New Hampshire_poverty_rate_1967-2014.xlsx',
 'National_Poverty_rate_1967-2019.xlsx']

In [107]:
'.xlsx' in 'National_Poverty_rate_1967-2019.xlsx'

True

In [133]:
import os
import sys
poverty_df = pd.DataFrame()
path = 'Poverty/'
for filename in clean_filenames:
    #print(filename)
    statename = filename.split("_")[0]
    #print("statename", statename)
    state_df = process_poverty(path, filename)
    poverty_df = pd.concat([poverty_df, state_df], axis=0, ignore_index=True)
    
poverty_df.head(30)

        
       # state_df = process_unemployment(path, filename)
        #unemployment_df = pd.concat([unemployment_df, state_df], axis = 0, ignore_index = True)
    
    
#unemployment_df.head(60)

Poverty/South Dakota_poverty_rate_1967-2014.xlsx
Poverty/South Dakota_poverty_rate_1967-2014.xlsx
state_name South Dakota
cn South Dakota Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Washington_poverty_rate_1967-2014.xlsx
Poverty/Washington_poverty_rate_1967-2014.xlsx
state_name Washington
cn Washington Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Indiana_poverty_rate_1967-2014.xlsx
Poverty/Indiana_poverty_rate_1967-2014.xlsx
state_name Indiana
cn Indiana Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Vermont_poverty_rate_1967-2014.xlsx
Poverty/Vermont_poverty_rate_1967-2014.xlsx
state_name Vermont
cn Vermont Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Nevada_poverty_rate_1967-2014.xlsx
Poverty/Nevada_poverty_rate_1967-2014.xlsx
state_name Nevada
cn Nevada Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Alabama_poverty_rate_1967-2014.xlsx
Poverty/Alabama_poverty_rate_1967-2014.xlsx
state_name Alabama
cn Alabama Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Iowa_poverty_rate_1967-2014.xlsx
Poverty/Iowa_poverty_rate_1967-2014.xlsx
state_name Iowa
cn Iowa Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Tennessee_poverty_rate_1967-2014.xlsx
Poverty/Tennessee_poverty_rate_1967-2014.xlsx
state_name Tennessee
cn Tennessee Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Missouri_poverty_rate_1967-2014.xlsx
Poverty/Missouri_poverty_rate_1967-2014.xlsx
state_name Missouri
cn Missouri Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Virginia_poverty_rate_1967-2014.xlsx
Poverty/Virginia_poverty_rate_1967-2014.xlsx
state_name Virginia
cn Virginia Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Connecticut_poverty_rate_1967-2014.xlsx
Poverty/Connecticut_poverty_rate_1967-2014.xlsx
state_name Connecticut
cn Connecticut Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Utah_poverty_rate_1967-2014.xlsx
Poverty/Utah_poverty_rate_1967-2014.xlsx
state_name Utah
cn Utah Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Kentucky_poverty_rate_1967-2014.xlsx
Poverty/Kentucky_poverty_rate_1967-2014.xlsx
state_name Kentucky
cn Kentucky Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Mississippi_poverty_rate_1967-2014.xlsx
Poverty/Mississippi_poverty_rate_1967-2014.xlsx
state_name Mississippi
cn Mississippi Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/New Jersey_poverty_rate_1967-2014.xlsx
Poverty/New Jersey_poverty_rate_1967-2014.xlsx
state_name New Jersey
cn New Jersey Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Wyoming_poverty_rate_1967-2014.xlsx
Poverty/Wyoming_poverty_rate_1967-2014.xlsx
state_name Wyoming
cn Wyoming Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Florida_poverty_rate_1967-2014.xlsx
Poverty/Florida_poverty_rate_1967-2014.xlsx
state_name Florida
cn Florida Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Arizona_poverty_rate_1967-2014.xlsx
Poverty/Arizona_poverty_rate_1967-2014.xlsx
state_name Arizona
cn Arizona Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Delaware_poverty_rate_1967-2014.xlsx
Poverty/Delaware_poverty_rate_1967-2014.xlsx
state_name Delaware
cn Delaware Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Arkansas_poverty_rate_1967-2014.xlsx
Poverty/Arkansas_poverty_rate_1967-2014.xlsx
state_name Arkansas
cn Arkansas Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/North Dakota_poverty_rate_1967-2014.xlsx
Poverty/North Dakota_poverty_rate_1967-2014.xlsx
state_name North Dakota
cn North Dakota Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Alaska_poverty_rate_1967-2014.xlsx
Poverty/Alaska_poverty_rate_1967-2014.xlsx
state_name Alaska
cn Alaska Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Michigan_poverty_rate_1967-2014.xlsx
Poverty/Michigan_poverty_rate_1967-2014.xlsx
state_name Michigan
cn Michigan Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/California_poverty_rate_1967-2014.xlsx
Poverty/California_poverty_rate_1967-2014.xlsx
state_name California
cn California Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Idaho_poverty_rate_1967-2014.xlsx
Poverty/Idaho_poverty_rate_1967-2014.xlsx
state_name Idaho
cn Idaho Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Rhode Island_poverty_rate_1967-2014.xlsx
Poverty/Rhode Island_poverty_rate_1967-2014.xlsx
state_name Rhode Island
cn Rhode Island Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Oregon_poverty_rate_1967-2014.xlsx
Poverty/Oregon_poverty_rate_1967-2014.xlsx
state_name Oregon
cn Oregon Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/South Carolina_poverty_rate_1967-2014.xlsx
Poverty/South Carolina_poverty_rate_1967-2014.xlsx
state_name South Carolina
cn South Carolina Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Nebraska_poverty_rate_1967-2014.xlsx
Poverty/Nebraska_poverty_rate_1967-2014.xlsx
state_name Nebraska
cn Nebraska Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/West Virginia_poverty_rate_1967-2014.xlsx
Poverty/West Virginia_poverty_rate_1967-2014.xlsx
state_name West Virginia
cn West Virginia Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Colorado_poverty_rate_1967-2014.xlsx
Poverty/Colorado_poverty_rate_1967-2014.xlsx
state_name Colorado
cn Colorado Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Wisconsin_poverty_rate_1967-2014.xlsx
Poverty/Wisconsin_poverty_rate_1967-2014.xlsx
state_name Wisconsin
cn Wisconsin Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/New York_poverty_rate_1967-2014.xlsx
Poverty/New York_poverty_rate_1967-2014.xlsx
state_name New York
cn New York Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/North Carolina_poverty_rate_1967-2014.xlsx
Poverty/North Carolina_poverty_rate_1967-2014.xlsx
state_name North Carolina
cn North Carolina Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Montana_poverty_rate_1967-2014.xlsx
Poverty/Montana_poverty_rate_1967-2014.xlsx
state_name Montana
cn Montana Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Ohio_poverty_rate_1967-2014.xlsx
Poverty/Ohio_poverty_rate_1967-2014.xlsx
state_name Ohio
cn Ohio Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/New Mexico_poverty_rate_1967-2014.xlsx
Poverty/New Mexico_poverty_rate_1967-2014.xlsx
state_name New Mexico
cn New Mexico Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Georgia_poverty_rate_1967-2014.xlsx
Poverty/Georgia_poverty_rate_1967-2014.xlsx
state_name Georgia
cn Georgia Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Pennsylvania_poverty_rate_1967-2014.xlsx
Poverty/Pennsylvania_poverty_rate_1967-2014.xlsx
state_name Pennsylvania
cn Pennsylvania Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Maryland_poverty_rate_1967-2014.xlsx
Poverty/Maryland_poverty_rate_1967-2014.xlsx
state_name Maryland
cn Maryland Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Kansas_poverty_rate_1967-2014.xlsx
Poverty/Kansas_poverty_rate_1967-2014.xlsx
state_name Kansas
cn Kansas Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Louisiana_poverty_rate_1967-2014.xlsx
Poverty/Louisiana_poverty_rate_1967-2014.xlsx
state_name Louisiana
cn Louisiana Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Hawaii_poverty_rate_1967-2014.xlsx
Poverty/Hawaii_poverty_rate_1967-2014.xlsx
state_name Hawaii
cn Hawaii Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Maine_poverty_rate_1967-2014.xlsx
Poverty/Maine_poverty_rate_1967-2014.xlsx
state_name Maine
cn Maine Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Massachusetts_poverty_rate_1967-2014.xlsx
Poverty/Massachusetts_poverty_rate_1967-2014.xlsx
state_name Massachusetts
cn Massachusetts Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Oklahoma_poverty_rate_1967-2014.xlsx
Poverty/Oklahoma_poverty_rate_1967-2014.xlsx
state_name Oklahoma
cn Oklahoma Post-Tax/Post-Transfer SPM

Index(['year', 'poverty_rate'], dtype='object')
Poverty/Texas_poverty_rate_1967-2014.xlsx
Poverty/Texas_poverty_rate_1967-2014.xlsx
state_name Texas
cn Texas Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Illinois_poverty_rate_1967-2014.xlsx
Poverty/Illinois_poverty_rate_1967-2014.xlsx
state_name Illinois
cn Illinois Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/Minnesota_poverty_rate_1967-2014.xlsx
Poverty/Minnesota_poverty_rate_1967-2014.xlsx
state_name Minnesota
cn Minnesota Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/New Hampshire_poverty_rate_1967-2014.xlsx
Poverty/New Hampshire_poverty_rate_1967-2014.xlsx
state_name New Hampshire
cn New Hampshire Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')
Poverty/National_Poverty_rate_1967-2019.xlsx
Poverty/National_Poverty_rate_1967-2019.xlsx
state_name National
cn National Post-Tax/Post-Transfer SPM
Index(['year', 'poverty_rate'], dtype='object')

    year  poverty_rate         state
0   2014          10.2  South Dakota
1   2013          10.4  South Dakota
2   2012          10.2  South Dakota
3   2011          10.1  South Dakota
4   2010          10.2  South Dakota
5   2009           9.8  South Dakota
6   2008           9.8  South Dakota
7   2007          10.0  South Dakota
8   2006          10.1  South Dakota
9   2005          10.7  South Dakota
10  2004          11.2  South Dakota
11  2003          11.2  South Dakota
12  2002          11.2  South Dakota
13  2001          10.2  South Dakota
14  2000          10.2  South Dakota
15  1999          11.2  South Dakota
16  1998          11.8  South Dakota
17  1997          12.7  South Dakota
18  1996          14.0  South Dakota
19  1995          14.7  South Dakota
20  1994          14.4  South Dakota
21  1993          14.8  South Dakota
22  1992          15.0  South Dakota
23  1991          15.3  South Dakota
24  1990          15.7  South Dakota
25  1989          16.6  South Dakota
26  1988          17.9  South Dakota
27  1987          19.2  South Dakota
28  1986          20.1  South Dakota
29  1985          21.4  South Dakota

In [134]:
poverty_df.year.value_counts()

1977    51
1986    51
1978    51
1980    51
1982    51
1984    51
2014    51
2012    51
2010    51
2008    51
2006    51
2004    51
2002    51
2000    51
1998    51
1996    51
1994    51
1992    51
1990    51
1976    51
1988    51
1979    51
1995    51
2013    51
2011    51
2009    51
2007    51
2005    51
2003    51
2001    51
1999    51
1997    51
1993    51
1991    51
1989    51
1987    51
1985    51
1983    51
1981    51
1972    11
1974    11
1970    11
1967    11
1968    11
1969    11
1971    11
1973    11
1975    11
2016     1
2018     1
2017     1
2015     1
2019     1
Name: year, dtype: int64

In [135]:
poverty_df.loc[poverty_df['year'] == 1974]

      year  poverty_rate         state
118   1974     15.100000       Indiana
439   1974     13.100000   Connecticut
604   1974     15.100000    New Jersey
691   1974     23.900000       Florida
973   1974     19.600000    California
1333  1974     17.500000      New York
1459  1974     14.500000          Ohio
1585  1974     14.400000  Pennsylvania
1906  1974     24.400000         Texas
1954  1974     15.700000      Illinois
2047  1974      0.158604      National

In [136]:
print('---  STATISTICS  ---')
print(poverty_df.describe())
print('---  TOTAL NAs  ---')
print(poverty_df.isna().sum())
print('---  DTYPES  ---')
print(poverty_df.dtypes)
print('---  LIST OF STATES  ---')
print(poverty_df['state'].value_counts().count())
print(poverty_df['state'].value_counts())

---  STATISTICS  ---
              year  poverty_rate
count  2093.000000   2093.000000
mean   1993.917344     15.713093
std      12.165224      5.294130
min    1967.000000      0.117733
25%    1984.000000     12.400000
50%    1994.000000     15.300000
75%    2004.000000     18.700000
max    2019.000000     33.588165
---  TOTAL NAs  ---
year            0
poverty_rate    0
state           0
dtype: int64
---  DTYPES  ---
year              int64
poverty_rate    float64
state            object
dtype: object
---  LIST OF STATES  ---
51
National          53
Pennsylvania      48
Texas             48
Connecticut       48
Indiana           48
California        48
Ohio              48
New York          48
Florida           48
New Jersey        48
Illinois          48
New Hampshire     39
Louisiana         39
Nevada            39
Oklahoma          39
Utah              39
Montana           39
Wisconsin         39
Maryland          39
Idaho             39
South Dakota      39
Hawaii            39
Washington        39
Wyoming           39
Alabama           39
Oregon            39
Tennessee         39
Georgia           39
Arizona           39
West Virginia     39
South Carolina    39
Minnesota         39
Kentucky          39
Nebraska          39
Massachusetts     39
Virginia          39
Alaska            39
North Dakota      39
North Carolina    39
Delaware          39
Kansas            39
Mississippi       39
New Mexico        39
Iowa              39
Maine             39
Vermont           39
Missouri          39
Rhode Island      39
Michigan          39
Arkansas          39
Colorado          39
Name: state, dtype: int64

In [149]:
# sorting values by the year
poverty_df.sort_values(by = ['year'], ascending = True, inplace = True)
poverty_df.head()

      year  poverty_rate        state
125   1967          20.1      Indiana
611   1967          17.3   New Jersey
446   1967          22.0  Connecticut
1913  1967          28.4        Texas
698   1967          33.0      Florida

In [159]:
poverty_df.dtypes

year             int64
poverty_rate    object
state           object
dtype: object

In [158]:
poverty_df['poverty_rate'].astype(float)

125     20.10
611     17.30
446     22.00
1913    28.40
698     33.00
        ...
2088    14.33
2089    13.94
2090    13.91
2091    12.73
2092    11.77
Name: poverty_rate, Length: 2093, dtype: float64

In [160]:
poverty_df['poverty_rate'] = poverty_df['poverty_rate'].map('{:,.2f}'.format)
poverty_df.head()

ValueError: Unknown format code 'f' for object of type 'str'

In [161]:
poverty_df.to_csv('poverty_rates_1967-2014.csv', index = False, index_label=False)

In [138]:
poverty_df.loc[poverty_df.state == "National"]

      year  poverty_rate     state
2040  1967      0.185615  National
2041  1968      0.171959  National
2042  1969      0.167845  National
2043  1970      0.171760  National
2044  1971      0.170546  National
2045  1972      0.161161  National
2046  1973      0.151280  National
2047  1974      0.158604  National
2048  1975      0.147130  National
2049  1976      0.141046  National
2050  1977      0.139180  National
2051  1978      0.134310  National
2052  1979      0.133333  National
2053  1980      0.146452  National
2054  1981      0.157681  National
2055  1982      0.165358  National
2056  1983      0.167849  National
2057  1984      0.160355  National
2058  1985      0.157201  National
2059  1986      0.151964  National
2060  1987      0.144818  National
2061  1988      0.148058  National
2062  1989      0.142988  National
2063  1990      0.148423  National
2064  1991      0.152363  National
2065  1992      0.157854  National
2066  1993      0.167890  National
2067  1994      0.156793  National
2068  1995      0.142107  National
2069  1996      0.141439  National
2070  1997      0.135838  National
2071  1998      0.130224  National
2072  1999      0.123992  National
2073  2000      0.123873  National
2074  2001      0.132306  National
2075  2002      0.135692  National
2076  2003      0.137957  National
2077  2004      0.137031  National
2078  2005      0.136699  National
2079  2006      0.137925  National
2080  2007      0.144323  National
2081  2008      0.147740  National
2082  2009      0.151118  National
2083  2010      0.159064  National
2084  2011      0.160712  National
2085  2012      0.159909  National
2086  2013      0.155395  National
2087  2014      0.152547  National
2088  2015      0.143282  National
2089  2016      0.139438  National
2090  2017      0.139073  National
2091  2018      0.127336  National
2092  2019      0.117733  National

In [148]:
poverty_df.sort_values(by = ['year'], ascending = True, inplace = True)
poverty_df.head()

      year  poverty_rate        state
125   1967          20.1      Indiana
611   1967          17.3   New Jersey
446   1967          22.0  Connecticut
1913  1967          28.4        Texas
698   1967          33.0      Florida